@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$font-color: #eaeaea;

body {
  color: $body-color !important;
  background: rgba(217, 217, 217, .2) !important;

  $body-color: #313131;
}

.btn-to-right {
  float: right;
}

.add-text {
  padding: 0 10px;
}

.add-form-area {
  background: rgba(235, 235, 235, .3);
}

.btn-icon {
  border: 0;
  background: transparent;
}

.icons-container {
  float: right;
}

.item-content {
  .item-title {
    padding-bottom: 5px;
  }

  .item-paragraph {
    padding-bottom: 15px;

    font-family: serif;
    font-size: medium;
  }
}

.justify-text {
  text-align: justify;
}

.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;

  max-width: 380px;

  .icons-container {
    position: relative;
    z-index: 1;

    .fa-minus-square-o {
      color: $font-color;
    }
  }

  .menu-content {
    width: 100%;
    height: 0;
    padding-top: 10px;
    padding-left: 10px;

    transition: height .2s linear;

    color: $font-color;
  }
  .open {
    width: 380px;
    height: 100%;

    background: $bg-color;

    $bg-color: #313131;
  }

  .links-list {
    padding-bottom: 10px;
    a {
      display: list-item;

      padding-left: 10px;

      color: $font-color;
      i {
        padding-right: 5px;

        color: $icon-color;

        $icon-color: #df1515;
      }
    }
  }
}
